.ly_header {
  width: 100%;
  padding: 11px 0;
  position: relative;
  z-index: 999;
}

@media screen and (min-width: 1080px) {
  .ly_header {
    padding: 30px 0;
  }
}
.bl_header {
  box-shadow: 0 3px 6px #CCC;
}

.bl_header_inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1366px;
}

@media screen and (min-width: 1080px) {
  .bl_header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.bl_header_logo {
  width: 65px;
  margin: 0 auto;
}
.bl_header_logo img {
  width: 100%;
}

@media screen and (min-width: 1080px) {
  .bl_header_logo {
    width: 120px;
    margin: 0;
  }
}
.ly_header_btn {
  display: none;
}

@media screen and (min-width: 1080px) {
  .ly_header_btn {
    display: block;
  }
}
.ly_footer {
  width: 100%;
  padding: 24px 0 134px 0;
}

.ly_footer_address {
  margin-top: 28px;
}

@media screen and (min-width: 1080px) {
  .ly_footer {
    padding: 80px 0 134px 0;
  }
}
.bl_footer {
  background: #31363D;
  color: #FFF;
}

.bl_footer_inner {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .bl_footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.bl_footer_logo {
  text-align: center;
}

.bl_footer_address {
  line-height: 165%;
  letter-spacing: 0.1em;
}

.bl_footer_nav {
  margin-top: 41px;
}

.bl_footer_nav_list {
  display: grid;
  gap: 20px;
  font-size: 14px;
}

.bl_footer_nav_listItem::after {
  content: url(../img/footer_nav_img.svg);
  width: 13px;
  height: 13px;
  margin-left: 5px;
  vertical-align: middle;
}

@media screen and (min-width: 1080px) {
  .bl_footer_nav_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 60px;
  }
}
.bl_footer_snsLogo_group {
  margin-top: 80px;
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 1080px) {
  .bl_footer_snsLogo_group {
    margin-top: 0;
  }
}
.bl_footer_copyRight_wrapper {
  margin-top: 85px;
}

.bl_footer_copyRight {
  font-weight: 400;
}

body {
  font-size: 16px;
  font-family: "Zen Kaku Gothic New";
  color: #3C3C3C;
}

span {
  display: block;
}

@media screen and (min-width: 1080px) {
  body {
    font-size: 18px;
  }
}
.bl_cont_inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .bl_cont_inner {
    width: 80%;
  }
}
.bl_imgWrapper img {
  width: 100%;
  height: auto;
}

.un_lb__reverse {
  display: none;
}

@media screen and (min-width: 1080px) {
  .un_lb {
    display: none;
  }
  .un_lb__reverse {
    display: block;
  }
}
.ly_kv {
  padding: 40px 0;
}

.ly_cont {
  padding: 50px 0;
}

@media screen and (min-width: 1080px) {
  .ly_cont__reason {
    padding: 189px 0 70px 0;
  }
}
.ly_btn {
  margin-top: 40px;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .ly_btn {
    margin-top: 80px;
  }
}
@media screen and (min-width: 1080px) {
  .ly_secTtl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  .ly_secTtl__reverse {
    flex-direction: row-reverse;
  }
  .ly_secTtl__nonImg {
    display: block;
  }
}
.bl_contBg_blue {
  background: #4468E2;
}

.bl_secTtl_en {
  font-size: 20px;
  font-family: "Dela Gothic One";
  color: rgba(68, 104, 226, 0.2);
}

.bl_secTtl_en__mt {
  margin-top: 12px;
}

.bl_secTtl_en__white {
  color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 1080px) {
  .bl_secTtl_en__center {
    text-align: center;
  }
}
.bl_secTtl_jp {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 160%;
  margin-top: 12px;
}

.bl_secTtl_jp_blue {
  display: inline-block;
  color: #4468E2;
}

.bl_secTtl_jp_small {
  font-size: 20px;
}

.bl_secTtl_jp__white {
  color: #FFF;
}

.bl_secTtl_txt {
  margin-top: 22px;
}

@media screen and (min-width: 1080px) {
  .bl_secTtl_jp__center {
    text-align: center;
  }
}
.bl_secTtl_imgWrapper {
  display: block;
  margin-top: 26px;
}
.bl_secTtl_imgWrapper img {
  width: 100%;
  height: auto;
}

.bl_secTtl2_imgWrapper {
  display: block;
}
.bl_secTtl2_imgWrapper img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .bl_secTtl_imgWrapper {
    width: 50%;
    margin: 26px auto 0 auto;
  }
  .bl_secTtl2_imgWrapper {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1080px) {
  .bl_secTtl_en {
    font-size: 28px;
  }
  .bl_secTtl_jp {
    font-size: 48px;
  }
  .bl_secTtl_jp_blue {
    display: inline;
  }
  .bl_secTtl_imgWrapper {
    margin-top: 0;
    width: 30%;
  }
  .bl_secTtl2_imgWrapper {
    width: 30%;
    margin-top: 30px;
  }
}
.el_btn {
  display: inline-block;
  width: 100%;
  padding: 18px 107px;
  background-color: #4468E2;
  border: 1px solid #4468E2;
  border-radius: 10px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  max-width: 340px;
  transition: all 0.3s;
}

.el_btn:hover {
  background: #FFF;
  color: #4468E2;
}

.el_btn__bgRed {
  padding: 15px 40px;
  background: #EC535B;
  border: 1px solid #EC535B;
}

.el_btn__bgRed:hover {
  background: #FFF;
  color: #EC535B;
}

.el_btn__reverse {
  width: 100%;
  background: #FFF;
  color: #4468E2;
  padding: 15px 0;
}

.el_btn__reverse:hover {
  background: #4468E2;
  color: #FFF;
  border: 1px solid #FFF;
}

.el_btn__reverseLine {
  border: 1px solid #4468E2;
}

.ly_btn__kvCta {
  margin-top: 18px;
}

@media screen and (min-width: 1080px) {
  .ly_btn__kvCta {
    margin-top: 0;
    width: 15%;
  }
}
.ly_reason_ttl {
  text-align: center;
}

.ly_faq_question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  cursor: pointer;
}

.ly_post_ttl {
  margin-top: 12px;
}

.bl_kv {
  background: #E8F8FF;
}

.bl_kv_inner {
  position: relative;
}

.bl_kv_copyGroup {
  text-align: center;
}

.bl_kv_copy {
  font-size: 20px;
}

.bl_kv_copy2 {
  font-size: 40px;
  font-weight: 700;
  color: #4468E2;
  margin-top: 19px;
  line-height: 130%;
}

@media screen and (min-width: 1080px) {
  .bl_kv_copyGroup {
    text-align: left;
  }
  .bl_kv_copy {
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  .bl_kv_copy2 {
    font-size: clamp(20px, 3vw, 50px);
    letter-spacing: 0.1em;
  }
}
.bl_kv_txt {
  margin-top: 22px;
  line-height: 180%;
  letter-spacing: 0.1em;
  font-weight: 600;
}

@media screen and (min-width: 1080px) {
  .bl_kv_txt {
    font-size: 20px;
    margin-top: 70px;
    letter-spacing: 0.2em;
    line-height: 200%;
  }
}
.bl_kv_imgGroup {
  margin-top: 40px;
  position: relative;
}
.bl_kv_imgGroup img {
  width: 100%;
  height: auto;
}

.bl_kv_img_txt {
  font-size: 13px;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  line-height: 160%;
  background: #6DB9E7;
  padding: 18px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.bl_kv_img_txt span {
  padding: 5px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .bl_kv_imgGroup {
    width: 50%;
    margin: 40px auto 0 auto;
  }
}
@media screen and (min-width: 1080px) {
  .bl_kv_imgGroup {
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .bl_kv_img_txt {
    font-size: 20px;
    padding: 25px;
    top: -40px;
    left: -20px;
  }
  .bl_kv_img_txt span {
    font-size: 30px;
  }
}
.bl_kv_cta {
  margin-top: 25px;
  padding: 17px;
  background: #4468E2;
  border-radius: 10px;
}

.bl_kv_cta_txt {
  color: #FFF;
  font-weight: 500;
  line-height: 175%;
}

@media screen and (min-width: 1080px) {
  .bl_kv_cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    transform: translateY(90%);
  }
}
.bl_reasonGroup {
  display: grid;
  gap: 40px;
}

@media screen and (min-width: 1080px) {
  .bl_reasonGroup {
    grid-template-columns: repeat(3, 1fr);
    gap: 42px;
  }
}
.bl_reason {
  padding: 30px 20px;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  box-shadow: 8px 8px 13px #CCC;
}

.bl_reason_ttl_jp {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.bl_reason_ttl_jp .bl_reason_ttl_jp_blue {
  font-size: 30px;
  display: inline-block;
  color: #4468E2;
}

.bl_reason_ttl_en {
  margin-top: 12px;
  color: #EC535B;
  font-family: "Dela Gothic One";
  font-size: 24px;
}

.bl_reason_imgWrapper {
  display: block;
  width: 60%;
  margin: 22px auto 0 auto;
  position: relative;
}
.bl_reason_imgWrapper img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1080px) {
  .bl_reason_imgWrapper {
    height: 200px;
  }
  .bl_reason_imgWrapper img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
.bl_reason_txt {
  margin-top: 24px;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.bl_serviceGroup {
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 1080px) {
  .bl_serviceGroup {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
.bl_service {
  padding: 21px;
  display: flex;
  justify-content: space-between;
  gap: 22px;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  box-shadow: 8px 8px 13px #CCC;
  position: relative;
}

.bl_service_img {
  width: 50%;
}
.bl_service_img img {
  width: 100%;
  height: auto;
}

.bl_service:nth-child(2) .bl_service_img img {
  width: 80%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .bl_service_img {
    width: 20%;
  }
}
@media screen and (min-width: 1080px) {
  .bl_service_img {
    width: 50%;
  }
}
.bl_service_ttl {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.15em;
  position: relative;
  z-index: 1;
}

.bl_service_txt {
  margin-top: 12px;
  line-height: 150%;
  letter-spacing: 0.15em;
}

.bl_service_label {
  background: #6DB9E7;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 0.15em;
  border-radius: 0 10px 0 10px;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 1080px) {
  .bl_service_label {
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
  }
}
.bl_gift_txtGroup {
  line-height: 160%;
  letter-spacing: 0.1em;
  margin-top: 24px;
}

.bl_gift_txt + .bl_gift_txt {
  margin-top: 14px;
}

@media screen and (min-width: 1080px) {
  .bl_gift_txtGroup {
    margin-top: 65px;
  }
}
.bl_gift_anotation {
  font-size: 14px;
  margin-top: 21px;
}
.bl_gift_anotation a {
  color: #4468E2;
  text-decoration: underline;
}

.bl_security_txtGroup {
  margin-top: 12px;
  line-height: 175%;
}

@media screen and (min-width: 1080px) {
  .bl_security_txtGroup {
    margin-top: 48px;
  }
}
.bl_howTo_ttl {
  max-width: 300px;
  width: 90%;
  margin: 17px auto 0 auto;
  font-size: 18px;
  background: #DAE1F9;
  padding: 12px 80px;
  border-radius: 20px;
  position: relative;
  text-align: center;
}

.bl_howTo_ttl::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: #DAE1F9;
  transform: translate(-50%, 0%);
  position: absolute;
  bottom: -20px;
  left: 50%;
}

.bl_howTo_group {
  max-width: 1200px;
  margin: 32px auto 0 auto;
  display: flex;
  align-items: center;
  overflow: scroll;
  padding: 12px;
  -ms-overflow-style: none;
}
@media screen and (min-width: 1080px) {
  .bl_howTo_group {
    justify-content: center;
  }
}

.bl_howTo_group::-webkit-scrollbar {
  display: none;
}

.bl_howTo {
  width: 260px;
  height: 230px;
  flex-shrink: 0;
  padding: 25px 22px;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  box-shadow: 8px 8px 13px #CCC;
}

.bl_howTo_ttl_en {
  font-size: 20px;
  color: #4468E2;
  text-align: center;
  font-family: "Dela Gothic One";
  letter-spacing: 0.1em;
  line-height: 165%;
}

.bl_howTo_ttl_jp {
  width: 155px;
  padding: 6px 0;
  color: #FFF;
  background: #4468E2;
  text-align: center;
  margin: 12px auto 0 auto;
  border-radius: 0 10px 0 10px;
}

.bl_howTo_txt {
  margin-top: 28px;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 185%;
}
.bl_howTo_txt a {
  color: #4468E2;
  text-decoration: underline;
}

.bl_howTo_line {
  flex-shrink: 0;
  width: 24px;
  height: 3px;
  background: #4468E2;
}

.bl_voiceGroup {
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 1080px) {
  .bl_voiceGroup {
    margin-top: 48px;
    grid-template-columns: repeat(2, 1fr);
    gap: 42px;
  }
}
.bl_voice {
  padding: 21px;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  box-shadow: 8px 8px 13px #CCC;
}

.bl_voice_txt {
  letter-spacing: 0.1em;
  line-height: 175%;
}

.bl_voice_labelGroup {
  margin-top: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.bl_voice_label {
  border-radius: 10px;
  display: inline-block;
  padding: 4px 10px;
  color: #FFF;
  background: #939393;
  font-size: 12px;
}

.bl_faqGroup {
  display: grid;
  gap: 20px;
  max-width: 965px;
  margin: 24px auto;
}

@media screen and (min-width: 768px) {
  .bl_faqGroup {
    margin-top: 42px;
  }
}
.bl_faq {
  padding: 17px 13px;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  box-shadow: 8px 8px 13px #CCC;
  transition: all 0.3s;
}

@media screen and (min-width: 1080px) {
  .bl_faq {
    padding: 24px 18px;
  }
}
.bl_faq_question {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.bl_faq_question::before {
  content: "Q";
  display: inline-block;
  font-size: 20px;
  color: #4468E2;
  font-family: "Dela Gothic One";
}

@media screen and (min-width: 1080px) {
  .bl_faq_question {
    font-size: 18px;
  }
}
.bl_faq_question_ico {
  width: 15px;
  height: 15px;
}

.bl_faq_question_ico_line {
  display: block;
  width: 15px;
  height: 2px;
  background: #4468E2;
  transform: translateY(7.5px);
}

.bl_faq_question_ico_line2 {
  display: block;
  width: 15px;
  height: 2px;
  background: #4468E2;
  transform: rotate(90deg) translateX(5px);
  transition: all 0.3s;
}

.bl_faq_answer {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.bl_faq_answer::before {
  content: "A";
  display: inline-block;
  font-size: 20px;
  color: #4468E2;
  font-family: "Dela Gothic One";
}

@media screen and (min-width: 1080px) {
  .bl_faq_answer {
    font-size: 16px;
  }
}
.is-active .bl_faq_question_ico_line2 {
  transform: translateY(5px) rotate(180deg);
  visibility: hidden;
  opacity: 0;
}

.is-active + .bl_faq_answer {
  margin-top: 14px;
  max-height: 100px;
  opacity: 1;
}

.bl_postGroup {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
}

@media screen and (min-width: 1080px) {
  .bl_postGroup {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}
.bl_post_thumbnailWrapper img {
  width: 100%;
  height: auto;
}

.bl_post_ttl {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 150%;
}

.bl_cta {
  margin-top: 21px;
}

.bl_cta_imgWrapper {
  width: 220px;
  margin: 32px auto 0 auto;
}
.bl_cta_imgWrapper img {
  width: 100%;
  height: auto;
}

.bl_cta_txtGroup {
  color: #FFF;
  max-width: 760px;
  margin: 24px auto 0 auto;
}

@media screen and (min-width: 1080px) {
  .bl_cta_txtGroup {
    margin: 42px auto 0 auto;
    text-align: center;
  }
}
.bl_cta_txt {
  letter-spacing: 0.1em;
  line-height: 175%;
}

.bl_cta_txt + .bl_cta_txt {
  margin-top: 24px;
}

.bl_cta_imgWrapper {
  display: block;
  margin-top: 32px;
}
.bl_cta_imgWrapper img {
  width: 100%;
  height: auto;
}

.bl_floatCta {
  width: 100%;
  background: #FFF;
  text-align: center;
  padding: 20px 50px;
  border-top: 1px solid #4468E2;
  position: fixed;
  bottom: 0;
}

.splide {
  margin-top: 24px;
}

@media screen and (min-width: 1080px) {
  .splide {
    margin-top: 65px;
  }
}
.splide__slide {
  width: 30%;
  height: auto;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */