$bg-blue: #6DB9E7;
$bg-light-blue: #E8F8FF;
$bg-light-blue2: #DAE1F9;
$bg-royal-blue: #4468E2;
$bg-bright-blue: #44B7E2;
$bg-grey: #939393;
$bg-white: #FFF;
$bg-black: #31363D;
$bg-red: #EC535B;
$shadow-grey: #CCC;
$border-grey: #D6D6D6;
$border-blue: #4468E2;
$border-red: #EC535B;
$border-white: #FFF;
$font-color-base: #3C3C3C;
$font-color-black: #262626;
$font-color-white: #FFF;
$font-color-white-opa20: rgba(255, 255, 255, 0.2);
$font-color-blue: #4468E2;
$font-color-blue-opa20: rgba(68, 104, 226, 0.2);
$font-color-red: #EC535B;
$font-family-jp: "Zen Kaku Gothic New";
$font-family-en: "Dela Gothic One";